[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = http://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rvm"]
	path = bundle/vim-rvm
	url = http://github.com/tpope/vim-rvm.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script.git
[submodule "snippets"]
	path = snippets
	url = http://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = http://github.com/grayrest/vim-syntastic.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = http://github.com/Rip-Rip/clang_complete
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = http://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = http://github.com/vim-scripts/mru.vim.git
[submodule "bundle/octopress"]
	path = bundle/octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "bundle/glsl"]
	path = bundle/glsl
	url = http://github.com/vim-scripts/glsl.vim
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-gemfile"]
	path = bundle/vim-gemfile
	url = http://github.com/tobiassvn/vim-gemfile.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
